@charset "UTF-8";

/* TABLETS — 768 a 992 px */
@media screen and (min-width:768px) and (max-width:992px) {

    body{
        background-image: linear-gradient(to top,#49a09d,#5f2c82);
    }
    
    section#login{
        width: 90vw;
        height: 400px; /* Ajuda o conteúdo a aparecer */
    }

    section#login > #imagen{
       float: left;
       width: 40%;
       height: 100%;
       background-size: cover;
       background-position: center;
    }
    
    section#login > #formulario{
        float: right;
        width: 60%;
        height: 100%;
    }
}

/* DESKTOP — acima de 992 px */
@media screen and (min-width:993px) {

     body{
        background-image: linear-gradient(to top,#49a09d,#5f2c82);
    }
    
    section#login{
        width: 950px;
        height: 400px;
    }

    #formulario > p{
    font-size: 1.2em;
    
}

 #formulario > h1{

    font-size: 2em;

}
    section#login > #imagen{
        float: right;
        width: 50%;
        height: 100%;
        background-size: cover;
        background-position: center;
    }

    section#login > #formulario{
        float: left;
        width: 50%;
        height: 100%;
    }
}

div#formulario > h1{
    text-align: center;
    margin-bottom: 10px;
}

