@charset "UTF-8";

    *{
        margin: 0;
        padding: 0;
        font-family: sans-serif;
        box-sizing: border-box;
    }

    body,html{

        background-color: blueviolet;
        height: 100vh;
        width: 100vw;
    }

    main{
        position: relative;
        height: 100vh;
        width: 100vw;
    }

    section#login{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        overflow: hidden;


        background-color: white;
        width: 250px;
        height: 500px;
        border-radius: 20px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.452);

    }

    section#login > #imagen{
        display: block;
        background: url(../imagens/pexels-fabio-akamine-1315530474-29259735.jpg);
        background-size: cover;
        background-size: no-repeat;
        height: 200px;
    }
    

    section#login > #formulario{
        padding: 10px;
        display: block;
    }