@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

body,html{
    background-color: blueviolet;
    height: 100vh;
    width: 100vw;
}

main{
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#login{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;

    background-color: white;
    width: 250px;
    min-height: 500px;
    height: auto;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.452);

    transition: width 1s, height 1s;
    transition-timing-function: ease;
}

section#login > #imagen{
    display: block;
    background: url(../imagens/pexels-fabio-akamine-1315530474-29259735.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 200px;
}

#login > #formulario{
    padding: 10px;
    display: block;
}

/* MEDIA QUERY */
@media screen and (min-width:768px) and (max-width:992px){
    section#login{
        width: 90vw;
    }

    section#login > #imagen{
        float: left;
        width: 40%;
        height: 100%;
        background-size: cover;
        background-position: center;
    }

    section#login > #formulario{
        float: right;
        width: 60%;
    }
}

#formulario > p{
    font-size: 0.8em;
    
}