@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

body,html{
    background-color: blueviolet;
    height: 100vh;
    width: 100vw;
}

main{
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#login{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;

    background-color: white;
    width: 250px;
    min-height: 500px;
    height: auto;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.452);

    transition: width 1s, height 1s;
    transition-timing-function: ease;
}

section#login > #imagen{
    display: block;
    background: url(../imagens/pexels-fabio-akamine-1315530474-29259735.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 200px;
}

#formulario{
    padding: 10px;
    display: block;
}

#formulario > p{
    font-size: 0.8em;
}

div#formulario > h1{
    text-align: center;
    margin-bottom: 10px;
}

/* ----------- CAMPOS DO FORM ------------ */

form > div.campo{
    background-color: #5f2c82;
    display: flex;
    align-items: center;
    height: 40px;
    border-radius: 8px;
    width: 100%;
    margin: 5px 0;
}

div.campo > input:focus-within{
    background-color: white;
}

.campo > i{
    color: white;
   
    font-size: 2em;
    width: 40px;
    padding: 5px;
    text-align: center;
    border-radius: 8px 0 0 8px;
}

.campo > input{
    background-color: #94eeeb;
    font-size: 1em;
    height: 100%;
    width: calc(100% - 40px);
    border: 0;
    border-radius: 0 8px 8px 0;
    padding: 11px;
}

/* ----------- BOTÃO ENTRAR ------------ */

form > input[type=submit]{
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: #49a09d;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

form > input[type=submit]:hover{
    background-color: orange;
}

/* ----------- BOTÃO ESQUECI ------------ */

form > a.botao{
    margin-top: 5px;
    display: block;
    text-align: center;
    font-size: 1em;
    padding-top: 5px;
    width: 100%;
    height: 40px;
    background-color: #94eeeb;
    border: 1px solid #224644;
    text-decoration: none;
    color: white;
    border-radius: 5px;
}

form > a.botao:hover{
    background-color: orange;
}
